@{
  Layout = "_Layout";
}

@model Library.Models.Patron;
&nbsp;
<h2>Patron Details</h2>
<hr />
<h5>@Html.DisplayNameFor(model => model.PatronName):</h5><h3><strong> @Html.DisplayFor(model => model.PatronName)</strong></h3>
<br />
@if(@Model.BookPatronEntities.Count == 0)
{
  <p>This patron does not have any books out. </p>
}
else
{
  <h5>Patron reserves:</h5>
  @foreach(var join in Model.BookPatronEntities)
  {
    <h4>@join.Book.Title</h4>
  }
}
<br />
<button type="button" class="btn btn-outline-success">@Html.ActionLink("Back to patron", "Index")</button>

@if (User.Identity.IsAuthenticated)
{
  <button type="button" class="btn btn-outline-success">@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId })</button>
  <button type="button" class="btn btn-outline-danger">@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</button>
}
