@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Add a patron</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)
  @Html.HiddenFor(model => model.Copies)
  @Html.HiddenFor(model => model.Title)

  @Html.Label("Select patron")
  @Html.DropDownList("PatronId")<br>

  @Html.Label("Book Copies ")
  @Html.DisplayFor(model => model.Copies)<br>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>