@{
  Layout = "_Layout";
}


    @model Library.Models.Book

    <h4>Add a New Book</h4>
    @using (Html.BeginForm())
    {
      @Html.ValidationSummary() 

      @Html.LabelFor(model => model.Title) 
      @Html.TextBoxFor(model => model.Title, new { @required  = "required"})


      @Html.LabelFor(model => model.Copies)
      @Html.TextBoxFor(model => model.Copies, new { @required  = "required"})

      @Html.Label("Select Author")
      @Html.DropDownList("AuthorId")

      @Html.Label("Select Librarian")
      @Html.DropDownList("LibrarianId")

      <button type="submit" class="btn btn-outline-success" >Add New Book</button>

    }

<button type="submit" class="btn btn-outline-warning" >@Html.ActionLink("Show all Books", "Index")</button>