@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h1>@Html.DisplayFor(model => model.Title)'s Details</h1>


<table class ="table table-borderd table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Book Title
            </th>
            <th>
                Book Copies
            </th>
        </tr>
    </thead>
    <tbody>
            <tr class="table table-hover table-dark">
                <td width 10%>
                    <h4>@Html.DisplayFor(model => model.BookId)</h4>
                </td>
                <td width 50%>
                    <h4>@Html.DisplayFor(model => model.Title)</h4>
                </td>
                <td width 50%>
                @if(@Model.Copies == 0)
                    {
                      <p>There are no copies left</p>
                    }
                    else
                    {
                      <h4>@Html.DisplayFor(model => model.Copies)</h4>
                    }
                    
                </td>
                <td width 50%>
                    @Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId }, new { @class = "btn btn-outline-info" })
                </td>
                <td width 50%>
                    @Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
    </tbody>
  </table>

@if(@Model.BookPatronEntities.Count == 0)
{
  <p>This book has not been reserved by any patrons</p>
}
else
{
<h2>Checked Out Book's Patrons:</h2>
    <table class ="table table-borderd table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
              Patron Name
            </th>
            <th>
               Reurn Due Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var join in Model.BookPatronEntities)
        {
            <tr class="table table-hover table-secondary">
                <td width 10%>
                  <h4>@join.Patron.PatronId</h4>
                </td>
                <td width 50%>
                  <h4>@join.Patron.PatronName</h4>
                </td>
                <td width 50%>
                  <h4>@join.DateDue</h4>
                </td>
                <td>
                @Html.ActionLink("Details", "Details", "Patrons", new { id = @join.Patron.PatronId}, new { @class = "btn btn-outline-info" })
                </td>
                <td>
                @using (Html.BeginForm("DeletePatron", "Books"))
                    {
                      @Html.HiddenFor(model => model.BookId)
                      @Html.HiddenFor(model => model.Copies)
                      @Html.HiddenFor(model => model.CheckedOutCopies)
                      @Html.HiddenFor(model => model.Title)
                    @Html.Hidden("joinId", @join.BookPatronId)
                        <input type="submit" value="Return Book" class = "btn btn-outline-danger" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
  }

@Html.ActionLink("Back to Books", "Index", new { id = Model.BookId }, new { @class = "btn btn-outline-info" })