@{
  Layout = "_Layout";
}

@using Library.Models

<h2>Edit</h2>

<h4>Edit this Book: @Html.DisplayFor(model => model)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorBookLibraianId)

  @Html.LabelFor(model => model.Book.Title)
  @Html.EditorFor(model => model.Book.Title)

  @Html.LabelFor(model => model.Book.Copies)
  @Html.EditorFor(model => model.Book.Copies)

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")

  @Html.Label("Select Librarian")
  @Html.DropDownList("LibrarianId")

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Books", "Index")</p>