@{
  Layout = "_Layout";
}

@using Library.Models;
<br>
<h1>Books</h1>

<form asp-controller="Librarians" asp-action="Index">
    <p>
        Search Books: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<button type="button" class="btn btn-outline-success">@Html.ActionLink("Add New Book", "Create")</button>

<table class="table table-borderd table-striped" style="width: 100%">
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Book Title
      </th>
      <th>
        Remaining Copies
      </th>
      <th>
        Checked Out Copies
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (Book book in Model)
    {
      <tr class="table table-hover table-dark">
        <td width 10%>
          @book.BookId
        </td>
        <td width 50%>
          @book.Title
        </td>
        <td width 50%>
          @book.Copies
        </td>
        <td width 50%>
          @book.CheckedOutCopies
        </td>
        <td width 50%>
          @Html.ActionLink("Check Out", "AddPatron", new { id = book.BookId }, new { @class = "btn btn-outline-success" })
        </td>
        <td width 50%>
          @Html.ActionLink("Details", "Details", new { id = book.BookId }, new { @class = "btn btn-outline-info" })
        </td>
        <td width 50%>
          @Html.ActionLink("Edit Book", "Edit", new { id = book.BookId }, new { @class = "btn btn-outline-info" })
        </td>
        <td width 50%>
          @Html.ActionLink("Delete Book", "Delete", new { id = book.BookId }, new { @class = "btn btn-outline-danger" })
        </td>
      </tr>
    }
  </tbody>
</table>
