@{
  Layout = "_Layout";
}

@using Library.Models; 

<h1>Books</h1>

<table class ="table table-borderd table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Book Title
            </th>
            <th>
                Book Copies
            </th>
            <th>
                Due Date
            </th>  
        </tr>
    </thead>
    <tbody>
    @foreach(Book book in Model)
  {
            <tr class="table table-hover table-dark">
                <td width 10%>
                    @book.BookId
                </td>
                <td width 50%>
                    @book.Title
                </td>
                <td width 50%>
                    @book.Copies
                </td>
                <td width 50%>
                    @book.DateDue
                </td>
                <td width 50%>
                    @Html.ActionLink("Details", "Details", new { id = book.BookId }, new { @class = "btn btn-outline-info" })
                </td>
                <td width 50%>
                    @Html.ActionLink("Edit Book", "Edit", new { id = book.BookId }, new { @class = "btn btn-outline-info" })
                </td>
                <td width 50%>
                    @Html.ActionLink("Delete Book", "Delete", new { id = book.BookId }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
  }
  </tbody>
  </table>


<p>@Html.ActionLink("Add New Book", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>